{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="jumbotron text-light" style="background-color: transparent;">
    <div class="d-flex justify-content-around">
        <div class="">
            <h2>Welcome to Bank</h2>
        </div>
        <div class="">
            <h2>{{ name }}</h2>
            <p class="p-2">Balance: {{ money }} INR</p>
        </div>
    </div>
</div>
<div class="container-fluid rounded transparent" >
    <div class="row py-4">
        <div class="col d-flex justify-content-around" href="#">
            <a class="btn btn-custom py-3 w-50" >Withdraw</a>
        </div>
        <div class="col d-flex justify-content-around">
            <a class="btn btn-custom py-3 w-50">Deposit</a>
        </div>
    </div>
    <div class="row py-4">
        <div class="col d-flex justify-content-around" href="#">
            <a class="btn btn-custom py-3 w-50" >Transfer Funds</a>
        </div>
        <div class="col d-flex justify-content-around">
            <a class="btn btn-custom py-3 w-50" href="#">Change Phone</a>
        </div>
    </div>
</div>
{% endblock content %}
